// Color codes, font variables etc

$color__white: rgb(230, 230, 230);
$color__gray: rgb(58, 58, 58);
$color__gray--light: rgb(202, 202, 202);
$color__red: rgb(173, 68, 68);
$color__blue: rgb(82, 79, 206);
$color__green: rgb(94, 180, 113);

$color__text--green: rgb(72, 146, 88);
$color__text--dark-gray: rgb(112, 112, 112);