// Classes like centering etc

.flex--centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tall{
    min-height: 100vh;
}

.margin__under-navbar{
    margin-top: 100px;
}

.border__3{
    border-radius: 3px !important;
}

.modal-lg2{
    width: 80vw !important;
    max-width: 80vw;
}

.rmb{margin-bottom: 0px;}

.wide{width: 100%};

.bold{font-weight: bold;}

.text--green{color: $color__text--green;}
.text--dark-gray{color: $color__text--dark-gray;}

.cell--centered{display: table-cell;vertical-align: middle !important;text-align: center;}

.table-striped--gray{
    color: rgb(255, 255, 255);
    th, td{
        font-weight: bold;
    }
    background-image: repeating-linear-gradient(50deg, lighten(#ccc,10), lighten(#ccc,10) 6px, lighten(#dbdbdb,10) 6px, lighten(#dbdbdb,10) 15px);
}

.table-appointment{
    // background: rgba(98, 120, 194, 0.651);
    color: white;

    th, td{
        background: rgba(109, 147, 230, 0.904);
        // color: darken(rgb(131, 149, 211),20);
        color: white;
    }
}

.pointer{cursor: pointer;}