.login-box{
    min-width: 25%;
    position: relative;
    
    form{
        padding: 20px;
        border-radius: 3px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        background-color: white;
        margin-bottom: 0px;
    }

    .logo{
        transition: all 0.25s;
        display: block;
        margin: auto;
        margin-bottom: 25px;
        transition-duration: 0.25s;
    }

    .logo--scaled{
        transform: scale(1.1);
    }
}

.employee{
    .employee__action{
        font-size: 1.2em;
        padding-right: 10px;
        i{
            color: $color__gray;
        }
    }
    .action__red{
        i{
            color: $color__red;
        }
    }
}