{% include 'header.html.twig' %}

<div class="wrapper__main flex--centered tall">
    <div class="login-box">
        
        <img id="js-login-box-logo" class="logo" src="{{ asset('img/tooth.svg') }}">

        <form action="{{ path('login_action') }}">

            <div id="login__error" class="alert alert-danger text-center" role="alert" style="display: none;">
                <span class="login__error">Wrong username or password!</span>
            </div>

            <div class="form-group">
                <label for="login_username">Username</label>
                <input type="text" class="form-control" name="login_username" id="login_username" aria-describedby="username" placeholder="Enter email">
            </div>

            <div class="form-group">
                <label for="login_password">Password</label>
                <input type="password" class="form-control" name="login_password" id="login_password" placeholder="Enter password">
            </div>

            <button id="js-login-submit" type="submit" class="btn btn-primary">Login</button>

        </form>

    </div>
</div>

<script>
    $('#login_username').focusin(function(){
        $('#js-login-box-logo').addClass('logo--scaled');
    });
    $('#login_username').focusout(function(){
        $('#js-login-box-logo').removeClass('logo--scaled');
    });

    $('#login_password').focusin(function(){
        $('#js-login-box-logo').addClass('logo--scaled');
    });
    $('#login_password').focusout(function(){
        $('#js-login-box-logo').removeClass('logo--scaled');
    });

    if(getUrlParameter('error')){
        if(getUrlParameter('error') == 'wrong_username_or_password'){
            $('#login_username').addClass('is-invalid');    
            $('#login__error').css("display","block");
            $('#login_password').addClass('is-invalid');
        }
    }else{

    }
</script>