{% include 'header.html.twig' %}
{% include 'navbars/navbar.html.twig' %}

<div class="wrapper__main margin__under-navbar">
    <div class="container">

        <div class="card mb-2">
            <div class="card-body">
            <form action="{{ path('get_schedule_day') }}" class="rmb">
                <div class="row">
                    <div class="col-10">
                        <input type="date" class="form-control mr-sm-2" name="date" id="inlineFormInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
                {# <form class="form-inline rmb">
                <div class="row">
                    <div class="col-lg-7">
                        <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <input type="date" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                    
                    {# <input type="date" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe"> 
                    
                </form> #}
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>

                        {% for key in range(0,23) %}
                            
                            <tr class="employee">
                                <td width="10%" align="center" scope="row">{% if(key<10) %}0{% endif %}{{ key }}:00</td>
                                <td class="js-add-appointment"  data-time="{{ key }}" scope="row" data-toggle="modal" data-target="#addAppointment"></td>
                            </tr>
                            
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="modal fade " id="addAppointment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form action="{{ path('add_appointment_action') }}">

            <div class="form-group">
                <label for="name">Patient's full name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="number" class="form-control" id="duration" name="duration">
            </div>

            <input type="number" name="time" id="js-time" style="display:none;">

            <input type="text" name="date" id="js-date" style="display:none;">

            <button type="submit" class="btn btn-primary float-right">Submit</button>

        </form>

      </div>
    </div>
  </div>
</div>


<script>

    $('.js-add-appointment').click(function(){
        var tmp_time = $(this).data("time");
        $("#js-time").val(tmp_time);

        if(getUrlParameter('date')){
            $("#js-date").val( getUrlParameter('date') );
        }
    });

</script>